.el-submenu__title:hover{
  background-color: #4e75a2!important;
}

.el-menu-item{
  background-color: #022955!important;
  font-size: 13px!important;
}

.el-menu-item:hover{
  background-color: #4e6989!important;
}