/*样式变量*/

// 文字样式
$text-normal: #606366;  // 普通文字
$text-weight: #303233;  // 主要文字
$text-info: #909599;  // 次要文字
$text-info-light: #C0C6CC;  // 占位符
$font-large: 20px;
$font-normal-x: 18px;
$font-normal: 16px;
$font-normal-s: 14px;
$font-small: 12px;


// 布局常量
$pl: 30px;
$pm: 20px;
$ps: 10px;
$ps-h: calc(100% - 20px);
$ps-f: -10px;
$pxs: 5px;
$pxs-f: -5px;


// 盒模型样式
$border-1: #DCDFE6;
$border-2: #E4E7ED;
$border-3: #EBEEF5;
$border-4: #F2F6FC;
$border-radius: 5px;
$border-radius-weight: 8px;
$border-radius-light: 2px;
$box-shadow: 0 3px 5px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

// 界面色彩
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
$brand: #0085EB;
$brand-hover: #4DAAF1;
$brand-disable: #A1D6FE;
$brand-light: #7387c2;
$brand-weight: #0471c1;
$brand-table: #FDF6EC;

// 背景色
$bgc-lv1: #FFFFFF;
$bgc-lv2: #F8F8F8;
$bgc-lv3: #F0F2F5;

// 辅助样式
$hover-color: #fdf6ec;

// 楼盘表展示色
$lp-cp: white;  //成品
$lp-ks: green;  //可售
$lp-cn: #ada;  //承诺 ?
$lp-qy: #aaa;  //签约 ?
$lp-ba: yellow;  //备案
$lp-yg: SkyBlue;  //预告
$lp-aj: Crimson;  //按揭
$lp-sc: #ddd;  //首次 ?
$lp-zy: #0099ff;  //转移
$lp-dy: #FF7300;  //抵押
$lp-cf: #cc66cc;  //查封
$lp-xz: gray;  //限制